@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: aliceblue
}

*{
    margin: 1px;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    position:sticky;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 4rem;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 0.8rem;
}
.brand img{
    width: 2rem;
    padding: 0 0.5rem;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 1.5rem auto;
   width: 70%;
   border-radius: 0.8rem;
   padding: 2rem;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 8rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 0.9rem; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 4.8rem;
}

.songItem{
    height: 4rem;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 0.9rem 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 2.2rem;
}

.songItem img{
    width: 2.5rem;
    margin: 0 1.8rem;
    border-radius: 2.2rem;
}

.timestamp{
    margin: 0 1.8rem;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }